﻿
@{
    ViewBag.Title = "Index";
}

@section Scripts{

    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/Pessoa/Index.js"></script>

}

<form id="frmPessoa" name="frmListPessoa">
    <h2>Index</h2>

    <div class="row">
        <div class="col-xs-3">
            <div class="form-group">
                <label>Descrição</label>
                <input class="form-control" type="text" id="txtDescricao" name="txtDescricao" data-bind="value:Descricao" />
            </div>
        </div>

        <div class="col-xs-3">
            <div class="form-group">
                <label>Ativo</label>
                <select class="form-control" id="ddlAtivo" name="ddlAtivo" data-bind="value:Ativo">
                    <option value="">Todos</option>
                    <option value="1">Ativo</option>
                    <option value="0">Inativo</option>
                </select>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <button id="btnPesquisar" name="btnPesquisar" data-bind="click:Pesquisar" class="btn btn-default">Pesquisar</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <a href="NewEdit" class="btn btn-default">Novo</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Cargo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: vm.Data">
                <tr>
                    <td data-bind="text: Id"></td>
                    <td data-bind="text: Nome()"></td>
                    <td data-bind="text: Sobrenome()"></td>
                    <td data-bind="text: CargoVM.Descricao()"></td>
                    <td><a data-bind="attr: { href: 'NewEdit/' + Id() }">Editar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
