﻿
@{
    ViewBag.Title = "NewEdit";
}

@section Scripts{

    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/Pessoa/NewEdit.js"></script>

}

<form id="frmPessoa" name="frmPessoa">
    <h2>Index</h2>

    <div class="row">

        <div class="col-xs-3">
            <label>Id</label>
            <input class="form-control" type="text" id="txtId" name="txtId" data-bind="value:Id" />

            <label>Nome</label>
            <input class="form-control" type="text" id="txtNome" name="txtNome" data-bind="value:Nome" />

            <label>Sobrenome</label>
            <input class="form-control" type="text" id="txtSobreNome" name="txtSobreNome" data-bind="value:Sobrenome" />

            <div data-bind="with: vm.CargoVM">
                <label>Cargo</label>
                <select class="form-control" id="ddlCargo" name="ddlCargo" data-bind="value:Id">
                    <option value="1">Programador</option>
                    <option value="2">Programador 1</option>
                    <option value="3">Programador 2</option>
                </select>
            </div>

            <button id="btnSalvar" name="btnSalvar" data-bind="click:Salvar">Salvar</button>

        </div>

    </div>

    <legend>Setores</legend>
    <div class="row">
        <button type="button" id="btnNovoSetor" name="btnNovoSetor" class="btn btn-default" data-toggle="modal" data-target="#frmModal" data-bind="click: koSetor.New">
            Novo
        </button>
    </div>

    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descrição</th>
                    <th>Sigla</th>
                    <th colspan="2">Ações</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: vm.Setores">
                <tr>
                    <td data-bind="text: Id"></td>
                    <td data-bind="text: Descricao"></td>
                    <td data-bind="text: Sigla"></td>
                    <td><a href="#" data-bind="click: function (data, elem) { koSetor.Edit($index()); }">Editar</a></td>
                    <td><a href="#" data-bind="click: function (data, elem) { koSetor.Remove($index()); }">Remover</a></td>
                </tr>
            </tbody>
        </table>
    </div>

</form>

<!-- Modal -->
<div class="modal fade" id="frmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="_formModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" data-bind="with: Setor">

                    <label>Id</label>
                    <input class="form-control" type="text" id="txtSetorId" name="txtSetorId" data-bind="value:Id, attr: { disabled: (Id() <= 0 || Id() == null || Id() == '' ) }" />

                    <label>Descrição</label>
                    <input class="form-control" type="text" id="txtDescricao" name="txtDescricao" data-bind="value:Descricao" />

                    <label>Sigla</label>
                    <input class="form-control" type="text" id="txtSigla" name="txtSigla" data-bind="value:Sigla" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bind="click: koSetor.Save">Save changes</button>
                </div>
            </div>
        </div>
    </form>
</div>
